html,body{
    width:100%;
    height:100%;
    margin:0 ;
    padding:0 ;
    overflow:hidden;
    background: url(imgs/background.jpg) no-repeat;
    background-size:cover;

}
.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 2000px;

}
.container {
    position: absolute;
    margin: 5% auto;
    width: 95%;
    height: 91%;
    top:0;
    left:0;
    bottom: 0;
    right: 0;
    /*overflow: hidden;*/
    transition: transform 1.5s ;
    -webkit-transition:transform 1.5s ;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    /*background: url("imgs/screen.png") no-repeat;*/
    background-size: cover;


}
@keyframes screen {
    0%{
        transform: rotateY( 2.5deg );
    }
    100%{
        transform: rotateY(-1.5deg);
    }
}
@-webkit-keyframes screen {
    0%{
        -webkit-transform: rotateY( 4deg );
    }
    100%{
        -webkit-transform: rotateY(-2deg);
    }
}


.page1{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("imgs/screen.png")no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    animation: screen 2s ease-in-out infinite alternate;
    -webkit-animation: screen 2s ease-in-out infinite alternate;


}

.screenfloat {
    animation: screen 2s ease-in-out infinite alternate;
    -webkit-animation: screen 2s ease-in-out infinite alternate;
}
.page2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("imgs/screen2.png")no-repeat;
    background-size: cover;
    transform: rotateY( 180deg );
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;

}
.page3{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("imgs/screen.png")no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;


}

/*.flip{
    transform: rotateY( 180deg );
}*/
.gif-frame {
    width: 595px;
    height: 426px;
    margin-top: 30%;
    margin-left: 3%;
    background: url("imgs/gif-frame.png") no-repeat;
    background-size:cover;
    overflow: hidden;
}
.gif {
    margin-left: 45px;
    margin-top: 6px;
    width: 500px;
    height: 400px;
}
.gif1{
    background: url("imgs/SH.gif") no-repeat;
    background-size: cover;
}
.gif2{
     background: url("imgs/GA.gif") no-repeat;
     background-size: cover;
 }
.gif3{
    background: url("imgs/PD.gif") no-repeat;
    background-size: cover;
}

.word {
    display: none;
}
.out{
    margin-left: 3%;
    width: 595px;
    height: 220px;
    margin-top: 10px;
    font-size: 45px;
    color: #6bcdf1;
}
.codescroll {
    width: 20%;
    height: 0;
    overflow: hidden;
    margin-left: 73%;
    margin-top: -70%;
    color: #6bcdf1;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    word-wrap: break-word;
    transition: height 1s linear 1s;
    -webkit-transition: height 1s linear 1s;
}
.code1{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.code2{
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}
.showCode {
    height: 68%;
}
.codeRun {
    animation: moveUp 7s linear 2;
    -webkit-animation:moveUp 7s linear 2;
}

@keyframes moveUp {
    100% {
        transform: translate3d(0,-5000px,0);
        -webkit-transform: translate3d(0,-5000px,0);
    }
}
@-webkit-keyframes   moveUp {
    100% {
        transform: translate3d(0,-5000px,0);
        -webkit-transform: translate3d(0,-5000px,0);
    }
}

@keyframes moveDown {
    100%{
        transform: translate3d(0,1000px,0);
        -webkit-transform: translate3d(0,1000px,0);
    }
}















/*.keyboard{
    width:800px; height: 320px;
    background-color: #111;
    margin: 0px auto;
    border-radius: 9px;
    padding: 30px;
    color: #eee;
}*/




.key{
    width: 40px; height:40px;
    display:block;
    background-color:transparent;
    text-align: left;
    padding-left: 8px;
    line-height: 29px;
    border-radius:2px;
    float:left;
    margin-left: 2px;
    margin-bottom:2px;
    cursor: pointer;
    /*transition: box-shadow 0.7s ease;*/
    color: #6bcdf1;
    border: #6bcdf1 .5px solid;
}
.key-down {
    /*
    background-color: rgba(107,205,241,0.3);
    */
    background-color: rgba(107,205,241,0.3);


}

.keyboard{width:650px;height:260px;float:left;margin-left: 3%;margin-top: 37px;}

.function{font-size: 12px; width:30px; height:30px; margin-bottom:15px;}
.small{font-size:10px; line-height:13px; text-align: center; padding:0 5px; padding-top:2px; height:28px !important;}
.space1{margin-right: 43px !important;}
.space2{margin-right: 25px !important;}
.dual {font-size: 14px; line-height: 20px; width:30px; }
.backspace {width:84px; font-size: 12px;}
.tab {width: 50px; line-height: 40px; font-size:13px;}
.letter{width:30px;}
.slash{width:64px;}
.caps{width:70px; font-size:12px; line-height:18px;}
.enter{width:92px; line-height:40px; text-align: center; padding-left:0;}
.shift.left{width: 90px;line-height: 40px; font-size:13px;}
.shift.right{width: 104px;line-height: 40px; font-size:13px;}
.ctrl{width: 50px; line-height: 40px; font-size:13px;}
.space{width:242px;}
.arrows{position:relative; top:42px;}
.sec-func .key{width: 32px; font-size:10px; text-align:left; line-height:40px; float:left;}
.sec-func div.dual{line-height:20px;}
.arrows .key{text-align: center; padding-left: 7px; margin-left:2px;}
.hidden{visibility: hidden;}


