html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000;
    background: url(imgs/background.jpg) no-repeat;
    background-size: cover;

}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
    perspective: 2000px;

}

#container {
    position: absolute;
    margin: 5% auto;
    width: 95%;
    height: 91%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    /*overflow: hidden;*/
    transition: transform 1.5s;
    -webkit-transition: transform 1.5s;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    /*background: url("imgs/screen.png") no-repeat;*/
    background-size: cover;

}

@keyframes screen {
    0% {
        transform: rotateY(2.5deg);
    }
    100% {
        transform: rotateY(-1.5deg);
    }
}

@-webkit-keyframes screen {
    0% {
        -webkit-transform: rotateY(4deg);
    }
    100% {
        -webkit-transform: rotateY(-2deg);
    }
}

.trans {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
}

.trans img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    z-index: 2;
}

.page {
    position: absolute;
    width: 100%;
    height: 100%;
    background: url("imgs/screen.png") no-repeat;
    background-size: cover;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    animation: screen 2s ease-in-out infinite alternate;
    -webkit-animation: screen 2s ease-in-out infinite alternate;
}



.one .codescroll {
    position: absolute;
    width: 20%;
    float: left;
    height: 0;
    margin-top: 62%;
    /*height: 49%;*/
    overflow: hidden;
    margin-left: 3%;
    color: #6bcdf1;
    word-wrap: break-word;
    transition: height 1s linear 1s;
    -webkit-transition: height 1s linear 1s;
}
.one .out {
    float: left;
    /* margin-left: 3%; */
    margin-left: 5%;
    width: 90%;
    height: 280px;
    margin-top: 300px;
    font-size: 45px;
    color: #6bcdf1;
}
.one .gif-frame {
    width: 600px;
    height: 426px;
    float: left;
    /* margin-top: 30%; */
    margin-left: 28%;
    background: url("imgs/gif-frame.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.one .keyboard {
    width: 650px;
    height: 260px;
    float: left;
    margin-left: 26%;
    margin-top: 5px;
}
.one img {
    margin-left: 45px;
    margin-top: 6px;
    width: 500px;
    height: 400px;
}


.two .codescroll {
    position: absolute;
    height: 0;
    width: 20%;
    float: left;
    /*height: 38%;*/
    margin-top: 80%;
    overflow: hidden;
    margin-left: 3%;
    color: #6bcdf1;
    word-wrap: break-word;
    transition: height 1s linear 1s;
    -webkit-transition: height 1s linear 1s;
}
.two .out {
    position: absolute;
    /* float: left; */
    /* margin-left: 3%; */
    margin-left: 28%;
    width: 67%;
    height: 280px;
    margin-top: 80%;
    font-size: 45px;
    color: #6bcdf1;
}
.two .gif-frame {
    position: absolute;
    width: 90%;
    height: 32%;
    margin-top: 30%;
    margin-left: 3%;
    background: url("imgs/gif-frame-wl.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.two .keyboard {
    position: absolute;
    width: 650px;
    height: 260px;
    float: left;
    margin-left: 26%;
    margin-top: 108%;
}
.two img {
    margin-left: 45px;
    margin-top: 8px;
    width: 89%;
    height: 94%;
}

.three .gif-frame {
    width: 595px;
    height: 426px;
    margin-top: 30%;
    margin-left: 3%;
    background: url("imgs/gif-frame.png") no-repeat;
    background-size: cover;
    overflow: hidden;
    position: absolute;
}
.three img {
    margin-left: 45px;
    margin-top: 6px;
    width: 500px;
    height: 400px;
}
.three .out {
    position: absolute;
    margin-left: 3%;
    width: 595px;
    height: 220px;
    margin-top: 80%;
    font-size: 45px;
    color: #6bcdf1;
}
.three .codescroll {
    position: absolute;
    width: 20%;
    height: 0;
    overflow: hidden;
    margin-left: 73%;
    margin-top: 29%;
    color: #6bcdf1;
    -webkit-backface-visibility: hidden;
    word-wrap: break-word;
    transition: height 1s linear 1s;
    -webkit-transition: height 1s linear 1s;
}
.three .keyboard {
    position: absolute;
    width: 650px;
    height: 260px;
    float: left;
    margin-left: 3%;
    margin-top: 108%;
}


.four .codescroll {
    position: absolute;
    width: 65%;
    float: left;
    height: 0;
    margin-top: 77%;
    /* height: 49%; */
    overflow: hidden;
    margin-left: 26%;
    color: #6bcdf1;
    word-wrap: break-word;
    transition: height 1s linear 1s;
    -webkit-transition: height 1s linear 1s;
}
.four .out {
    position: absolute;
    /* float: left; */
    /* margin-left: 3%; */
    margin-left: 5%;
    width: 20%;
    height: 80%;
    margin-top: 300px;
    font-size: 45px;
    color: #6bcdf1;
}
.four .gif-frame {
    width: 600px;
    height: 426px;
    float: left;
    margin-top: 30%;
    margin-left: 26%;
    background: url("imgs/gif-frame.png") no-repeat;
    background-size: cover;
    overflow: hidden;
}
.four .keyboard {
    position: absolute;
    width: 650px;
    height: 260px;
    float: left;
    margin-left: 26%;
    margin-top: 107%;
}
.four img {
    margin-left: 45px;
    margin-top: 6px;
    width: 500px;
    height: 400px;
}





.word {
    display: none;
}



.code1 {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.code2 {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}



.codeRun {
    animation: moveUp 7s linear 2;
    -webkit-animation: moveUp 7s linear 2;
}

@keyframes moveUp {
    100% {
        transform: translate3d(0, -5000px, 0);
        -webkit-transform: translate3d(0, -5000px, 0);
    }
}

@-webkit-keyframes moveUp {
    100% {
        transform: translate3d(0, -5000px, 0);
        -webkit-transform: translate3d(0, -5000px, 0);
    }
}

@keyframes moveDown {
    100% {
        transform: translate3d(0, 1000px, 0);
        -webkit-transform: translate3d(0, 1000px, 0);
    }
}





.key {
    width: 40px;
    height: 40px;
    display: block;
    background-color: transparent;
    text-align: left;
    padding-left: 8px;
    line-height: 29px;
    border-radius: 2px;
    float: left;
    margin-left: 2px;
    margin-bottom: 2px;
    cursor: pointer;
    /*transition: box-shadow 0.7s ease;*/
    color: #6bcdf1;
    border: #6bcdf1 .5px solid;
}

.key-down {
    /*
    background-color: rgba(107,205,241,0.3);
    */
    background-color: rgba(107, 205, 241, 0.3);

}



.function {
    font-size: 12px;
    width: 30px;
    height: 30px;
    margin-bottom: 15px;
}

.small {
    font-size: 10px;
    line-height: 13px;
    text-align: center;
    padding: 0 5px;
    padding-top: 2px;
    height: 28px !important;
}

.space1 {
    margin-right: 43px !important;
}

.space2 {
    margin-right: 25px !important;
}

.dual {
    font-size: 14px;
    line-height: 20px;
    width: 30px;
}

.backspace {
    width: 84px;
    font-size: 12px;
}

.tab {
    width: 50px;
    line-height: 40px;
    font-size: 13px;
}

.letter {
    width: 30px;
}

.slash {
    width: 64px;
}

.caps {
    width: 70px;
    font-size: 12px;
    line-height: 18px;
}

.enter {
    width: 92px;
    line-height: 40px;
    text-align: center;
    padding-left: 0;
}

.shift.left {
    width: 90px;
    line-height: 40px;
    font-size: 13px;
}

.shift.right {
    width: 104px;
    line-height: 40px;
    font-size: 13px;
}

.ctrl {
    width: 50px;
    line-height: 40px;
    font-size: 13px;
}

.space {
    width: 242px;
}

.arrows {
    position: relative;
    top: 42px;
}

.sec-func .key {
    width: 32px;
    font-size: 10px;
    text-align: left;
    line-height: 40px;
    float: left;
}

.sec-func div.dual {
    line-height: 20px;
}

.arrows .key {
    text-align: center;
    padding-left: 7px;
    margin-left: 2px;
}

.hidden {
    visibility: hidden;
}

/*loader*/
#loader {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.spinner {
    -webkit-animation: rotate 2s linear infinite;
    animation: rotate 2s linear infinite;
    z-index: 2;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -100px 0 0 -100px;
    width: 200px;
    height: 200px;
}
.spinner .path {
    stroke: #93bfec;
    stroke-linecap: round;
    -webkit-animation: dash 1.5s ease-in-out infinite;
    animation: dash 1.5s ease-in-out infinite;
}

@-webkit-keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 150;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -35;
    }
    100% {
        stroke-dasharray: 90, 150;
        stroke-dashoffset: -124;
    }
}

